[submodule ".vim/pack/pracj3am/start/fugitive"]
	path = .vim/pack/pracj3am/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/pracj3am/start/ack"]
	path = .vim/pack/pracj3am/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/pracj3am/start/less"]
	path = .vim/pack/pracj3am/start/less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/pack/pracj3am/start/command-t"]
	path = .vim/pack/pracj3am/start/command-t
	url = https://github.com/wincent/command-t.git
[submodule ".vim/pack/pracj3am/start/lua"]
	path = .vim/pack/pracj3am/start/lua
	url = https://github.com/tbastos/vim-lua
[submodule ".vim/pack/pracj3am/start/vim-go"]
	path = .vim/pack/pracj3am/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/pracj3am/start/ultisnips"]
	path = .vim/pack/pracj3am/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
